@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Miama:wght@400&display=swap");

:root {
  --primary: 8, 77%, 57%;
  --white: 0, 0%, 100%;
  --main-bg: 0, 0%, 0%;
  --sub-bg: 0, 0%, 13%;

  font-family: "Inter", Verdana, sans-serif;
  color: hsl(var(--white));
}

* {
  background-color: hsl(var(--main-bg));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

ul {
  list-style-type: none;
}

section {
  margin: clamp(64px, calc(4.72vw + 43.83px), 112px) 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.fluid {
  max-width: 100%;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}

.btn-primary {
  background-color: hsl(var(--primary));
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid hsl(var(--white));
}

.container {
  width: clamp(320px, 90vw, 1060px);
  margin: 0 auto;
}

.brand {
  font-style: italic;
  font-weight: 800;
  color: hsl(var(--primary));
}

.brand span {
  font-size: 2em;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 78px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }
}

/* header section */
header {
  padding-top: 3rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .nav-links {
  display: none;
  margin-left: auto;
  font-size: 18px;
  gap: 2rem;
}

header nav .nav-links a {
  text-transform: capitalize;
}

header nav .menu {
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  header nav .nav-links {
    display: flex;
  }

  header nav .menu {
    display: none;
  }
}
