@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Miama:wght@400&display=swap");

:root {
  --primary: 8, 77%, 57%;
  --white: 0, 0%, 100%;
  --main-bg: 0, 0%, 0%;
  --sub-bg: 0, 0%, 13%;

  font-family: "Inter", Verdana, sans-serif;
  color: hsl(var(--white));
}

body {
  background-color: hsl(var(--main-bg));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p {
  color: hsla(var(--white), 0.5);
  font-size: 14px;
}

ul {
  list-style-type: none;
}

section {
  margin: clamp(64px, calc(4.72vw + 43.83px), 112px) 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

option {
  background-color: hsl(var(--main-bg));
}

.fluid {
  max-width: 100%;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}

.btn-small {
  padding-block: 0.5rem;
}

.btn-primary {
  background-color: hsl(var(--primary));
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid hsl(var(--white));
}

.container {
  width: clamp(320px, 90vw, 1060px);
  margin: 0 auto;
}

.brand span {
  font-style: italic;
  font-weight: 800;
  color: hsl(var(--primary));
  font-size: 2em;
}

@media screen and (max-width: 575px) {
  .hide-in-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 78px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }
}

/* header section */
header {
  padding-top: 3rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .nav-links {
  display: none;
  margin-left: auto;
  font-size: 18px;
  gap: 2rem;
}

header nav .nav-links a {
  text-transform: capitalize;
}

header nav .nav-links .active a {
  display: inline-block;
  margin: -0.25rem -0.75rem;
  padding: 0.25rem 0.75rem;
  background-color: hsl(var(--primary));
  border-radius: 1.5rem;
}

header nav .menu {
  margin-left: auto;
}

header .content,
header .hero {
  margin-top: 3rem;
}

header .content h1 span {
  font-family: "Miama", Inter, sans-serif;
}

header .content p {
  margin: 2rem 0;
  font-size: 16px;
}

header .content .actions {
  display: flex;
  gap: 1rem;
}

header .content .actions > button {
  padding: clamp(12px, calc(3.8vw - 0.5px), 16px) clamp(26px, calc(14vw - 23px), 40px);
}

header .hero {
  position: relative;
  margin-inline: auto;
  width: 100%;
  max-width: 349px;
  aspect-ratio: 349 / 582;
  background: url("./images/hero.png") center no-repeat;
  background-size: cover;
}

header .hero .box {
  padding: clamp(8px, calc(3.8vw - 4.5px), 12px);
  position: absolute;
  text-transform: capitalize;
  background-color: hsla(var(--white), 0.2);
  backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}

header .hero .box.box-1 {
  top: 10%;
  right: 3%;
}

header .hero .box.box-2 {
  top: 45%;
  left: clamp(-35px, calc(-27.34vw + 122.5px), 35px);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

header .box-2 .icon {
  flex: 1 0;
  width: 1.75em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(var(--primary));
}

header .box-2 .icon .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.4375em solid transparent;
  border-bottom: 0.4375em solid transparent;
  border-left: 0.75em solid hsl(var(--white));
}

header .hero .box-1 div span:first-child {
  font-size: 2em;
  font-weight: 800;
}

header .hero .box.box-2 div span:first-child {
  font-size: 1.5em;
  font-weight: 800;
}

header .hero .box div span:last-child {
  font-size: 0.75em;
}

@media screen and (min-width: 576px) {
  header nav .nav-links {
    display: flex;
  }

  header nav .menu {
    display: none;
  }

  header .banner {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  header .banner {
    margin-top: 0;
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  header .banner > * {
    margin-top: 0;
  }
}

/* change habits section */
#change-habits {
  text-align: center;
}

#change-habits .container > p {
  margin: 1.5rem auto 3rem;
  width: min(90%, 600px);
}

#change-habits ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

#change-habits li img {
  border: 4px solid hsl(var(--sub-bg));
  border-radius: 50%;
}

#change-habits li p:first-of-type {
  margin: 1.5rem 0 0.25rem;
  font-size: 18px;
  font-weight: 600;
  color: hsl(var(--white));
}

#change-habits li p:last-child {
  margin: auto auto;
  width: min(80%, 600px);
}

@media screen and (min-width: 576px) {
  #change-habits .container > p {
    margin: 2rem auto 4rem;
  }

  #change-habits ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  #change-habits ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* run section */
#run .container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(var(--sub-bg));
  border-radius: 1rem;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
}

#run .container .content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

#run .container .image {
  width: 100%;
  aspect-ratio: 366 / 312;
  flex-shrink: 0;
  background: url("./images/run.png") center no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

@media screen and (min-width: 576px) {
  #run .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  #run .container .content {
    width: clamp(270px, 100%, 350px);
    align-items: start;
  }

  #run .container .content h2 {
    font-size: 32px;
  }

  #run .container .image {
    width: min(50%, 250px);
  }
}

@media screen and (min-width: 992px) {
  #run .container {
    align-items: center;
  }

  #run .container .content {
    max-width: 350px;
  }

  #run .container .content h2 {
    font-size: 48px;
  }

  #run .container .content p {
    margin: 0.25rem 0 0.5rem;
  }

  #run .container .image {
    width: 366px;
    height: 300px;
  }
}

/* bmi section */
#bmi > div:first-child h2 {
  text-align: center;
}

#bmi > div:first-child p {
  margin: 1rem auto 2rem;
  max-width: 800px;
  text-align: center;
}

#bmi > div:last-child {
  padding: 2rem 0;
  background-color: hsl(var(--sub-bg));
}

#bmi > div:last-child .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

#bmi > div:last-child h3 {
  margin-bottom: 1rem;
}

#bmi .chart {
  flex-shrink: 0;
  width: min(400px, 100%);
}

#bmi .chart table thead,
#bmi .chart table tr,
#bmi .chart table th,
#bmi .chart table td {
  outline: 2px solid hsl(0, 0%, 36%);
}

#bmi .chart table th,
#bmi .chart table td {
  padding: 0.5rem 1.5rem;
}

#bmi .chart table th {
  color: hsla(var(--white), 0.9);
  font-weight: 600;
}

#bmi .chart table td {
  color: hsla(var(--white), 0.5);
}

#bmi .calculator form {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

#bmi .calculator input,
#bmi .calculator select {
  padding: 0.5rem 0.75rem;
  font-size: 16px;
  background-color: hsla(var(--white), 0.1);
  color: hsl(var(--white));
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

#bmi .calculator #activity,
#bmi .calculator button {
  grid-column: span 2;
}

#bmi .calculator button {
  width: max-content;
}

@media screen and (min-width: 992px) {
  #bmi > div:last-child .container {
    flex-direction: row;
  }
}

/* team section */
#team {
  text-align: center;
}

#team .container > p {
  margin: 1rem auto 2rem;
  max-width: 800px;
}

#team .trainers {
  margin-top: 1.5rem;
  padding: 1.5rem;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: hsl(var(--sub-bg));
  border-radius: 1rem;
}

#team .trainers li {
  position: relative;
  width: 100%;
  aspect-ratio: 327 / 272;
  border-radius: 0.5rem;
}

#team .trainers li:nth-child(1) {
  background: url("./images/trainer-1.png") center no-repeat;
  background-size: cover;
}

#team .trainers li:nth-child(2) {
  background: url("./images/trainer-2.png") center no-repeat;
  background-size: cover;
}

#team .trainers li:nth-child(3) {
  background: url("./images/trainer-3.png") center no-repeat;
  background-size: cover;
}

#team .trainers li:nth-child(4) {
  background: url("./images/trainer-4.png") center no-repeat;
  background-size: cover;
}

#team .trainers li:nth-child(5) {
  background: url("./images/trainer-5.png") center no-repeat;
  background-size: cover;
}

#team .trainers li:nth-child(6) {
  background: url("./images/trainer-6.png") center no-repeat;
  background-size: cover;
}

#team .trainers .info {
  position: absolute;
  padding: 0.5rem 0.75rem;
  width: 100%;
  bottom: 0;
  background-color: hsla(var(--main-bg), 0.2);
  backdrop-filter: blur(4px);
  border-radius: 0 0 0.5rem 0.5rem;
}

#team .trainers .info h4 {
  height: 21px;
  color: hsl(var(--white));
  font-weight: 800;
  font-size: 18px;
  text-wrap: nowrap;
}

#team .trainers .info small {
  color: hsla(var(--white), 0.5);
}

@media screen and (min-width: 576px) {
  #team .trainers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  #team .trainers {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* blog section */
#blog .container h2 {
  text-align: center;
}

#blog .container > p {
  text-align: center;
  margin: 1rem auto 2rem;
  max-width: 800px;
}

#blog .container > form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#blog form input {
  margin-right: 1rem;
  padding: 1rem;
  width: min(100%, 400px);
  font-size: 16px;
  background-color: hsla(var(--white), 0.1);
  color: hsl(var(--white));
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

#blog .blogs {
  padding: clamp(24px, calc(10.59vw - 21.71px), 40px);
  background-color: hsl(var(--sub-bg));
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  text-align: left;
}

#blog .blogs li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

#blog .blogs li a {
  margin-top: auto;
}

#blog .blogs .image {
  width: 100%;
  aspect-ratio: 250 / 200;
  border-radius: 0.5rem;
}

#blog .blogs li:nth-child(1) .image {
  background: url("./images/exercise-1.png") center no-repeat;
  background-size: cover;
}

#blog .blogs li:nth-child(2) .image {
  background: url("./images/exercise-2.png") center no-repeat;
  background-size: cover;
}

#blog .blogs li:nth-child(3) .image {
  background: url("./images/exercise-3.png") center no-repeat;
  background-size: cover;
}

#blog .blogs li:nth-child(4) .image {
  background: url("./images/exercise-4.png") center no-repeat;
  background-size: cover;
}

#blog .blogs li:nth-child(5) .image {
  background: url("./images/exercise-5.png") center no-repeat;
  background-size: cover;
}

#blog .blogs li:nth-child(6) .image {
  background: url("./images/exercise-6.png") center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 576px) {
  #blog .container > form {
    flex-direction: row;
  }

  #blog .container > div:last-child {
    padding: 1.5rem;
  }

  #blog .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  #blog .blogs {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* footer section */
footer {
  padding: 3rem 0 2rem;
  background-color: hsl(var(--sub-bg));
}

footer .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

footer .brand p {
  margin-top: 1rem;
  max-width: 600px;
}

footer .links p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(var(--white));
}

footer .links a {
  display: inline-block;
  padding: 0.25rem 0;
  text-transform: capitalize;
}

footer .links.links-2 ul {
  display: flex;
  gap: 1rem;
}

footer hr {
  margin: 3rem 0 2rem;
  border-color: hsla(var(--white), 0.5);
}

footer .container > p:last-child {
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  footer .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .brand {
    grid-column: span 2;
  }
}

@media screen and (min-width: 768px) {
  footer .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
