@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Miama:wght@400&display=swap");

:root {
  --primary: 8, 77%, 57%;
  --white: 0, 0%, 100%;
  --main-bg: 0, 0%, 0%;
  --sub-bg: 0, 0%, 13%;

  font-family: "Inter", Verdana, sans-serif;
  color: hsl(var(--white));
}

body {
  background-color: hsl(var(--main-bg));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p {
  color: hsla(var(--white), 0.5);
  font-size: 14px;
}

ul {
  list-style-type: none;
}

section {
  margin: clamp(64px, calc(4.72vw + 43.83px), 112px) 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.fluid {
  max-width: 100%;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}

.btn-primary {
  background-color: hsl(var(--primary));
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid hsl(var(--white));
}

.container {
  width: clamp(320px, 90vw, 1060px);
  margin: 0 auto;
}

.brand {
  font-style: italic;
  font-weight: 800;
  color: hsl(var(--primary));
}

.brand span {
  font-size: 2em;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 78px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }
}

/* header section */
header {
  padding-top: 3rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .nav-links {
  display: none;
  margin-left: auto;
  font-size: 18px;
  gap: 2rem;
}

header nav .nav-links a {
  text-transform: capitalize;
}

header nav .menu {
  margin-left: auto;
}

header .content,
header .hero {
  margin-top: 3rem;
}

header .content h1 span {
  font-family: "Miama", Inter, sans-serif;
}

header .content p {
  margin: 2rem 0;
  font-size: 16px;
}

header .content .actions {
  display: flex;
  gap: 1rem;
}

header .content .actions > button {
  padding: clamp(12px, calc(3.8vw - 0.5px), 16px) clamp(26px, calc(14vw - 23px), 40px);
}

header .content .actions .tablet {
  display: none;
}

header .hero {
  position: relative;
  margin-inline: auto;
  width: 100%;
  max-width: 349px;
  aspect-ratio: 349 / 582;
  background: url("./images/hero.png") center no-repeat;
  background-size: cover;
}

header .hero .box {
  padding: clamp(8px, calc(3.8vw - 4.5px), 12px);
  position: absolute;
  text-transform: capitalize;
  background-color: hsla(var(--white), 0.2);
  backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}

header .hero .box.box-1 {
  top: 10%;
  right: 3%;
}

header .hero .box.box-2 {
  top: 45%;
  left: clamp(-35px, calc(-27.34vw + 122.5px), 35px);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

header .box-2 .icon {
  flex: 1 0;
  width: 1.75em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(var(--primary));
}

header .box-2 .icon .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.4375em solid transparent;
  border-bottom: 0.4375em solid transparent;
  border-left: 0.75em solid hsl(var(--white));
}

header .hero .box-1 div span:first-child {
  font-size: 2em;
  font-weight: 800;
}

header .hero .box.box-2 div span:first-child {
  font-size: 1.5em;
  font-weight: 800;
}

header .hero .box div span:last-child {
  font-size: 0.75em;
}

@media screen and (min-width: 576px) {
  header nav .nav-links {
    display: flex;
  }

  header nav .menu {
    display: none;
  }

  header .banner {
    margin-top: 4.5rem;
  }

  header .content .actions .tablet {
    display: initial;
  }
}

/* change habits section */
#change-habits {
  text-align: center;
}

#change-habits .container > p {
  margin: 1.5rem auto 3rem;
  width: min(90%, 600px);
}

#change-habits ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

#change-habits li img {
  border: 4px solid hsl(var(--sub-bg));
  border-radius: 50%;
}

#change-habits li p:first-of-type {
  margin: 1.5rem 0 0.25rem;
  font-size: 18px;
  font-weight: 600;
  color: hsl(var(--white));
}

#change-habits li p:last-child {
  margin: auto auto;
  width: min(80%, 600px);
}

@media screen and (min-width: 576px) {
  #change-habits .container > p {
    margin: 2rem auto 4rem;
  }

  #change-habits ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  #change-habits ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
